
 .side-bar{
         transition: 1s ease;
         background-color: white;
     }
    


     .side-bar a{
         color:red;
         display: block;
         text-decoration: none;
     }


     .toggle-menu {
         height: 50px;
         border-top-right-radius: 10rem;
        border-bottom-right-radius: 9rem;
         width: 10px;
         position: absolute;
        outline: none;
         z-index: 1;
    background-color: rgba(64, 194, 133, 0.693);
         border-color: rgba(64, 194, 133, 0.693);
         border-left: 0;
     }