
 .side-bar{
         transition: 1s ease;
         /* background-color: white; */
         border-right: 1px solid white;
 
        
     }
    


     .side-bar a{
         color:white;
         display: block;
         text-align: center;
         text-decoration: none;
         margin:100px 10px;
     }


     .toggle-menu {
         height: 50px;
         border-top-right-radius: 10rem;
        border-bottom-right-radius: 9rem;
         width: 10px;
         position: absolute;
        outline: none;
         z-index: 1;
            background-color: white;
         border-color: rgba(247, 247, 247, 0.693);
         border-left: 0;
     }
     .content{
         height:100vh;
         margin: auto;
     }
  
